body{
    background-color: #333;

}
h1{
    color:#FFF;
    

}

.txt-azul{
    color: #002a6d;
    font-size: 18px;
    font-weight: bold; /*negrito*/

}
.dir{
    float: right;
    margin: 15px;
}

.clear{
    clear: both;
}

